body {
    max-width: 64em;
    margin: 0 auto;
    font-family: sans-serif;
}

a {
    color: blue;
}

dt {
    float: left;
    width: 10em;
}

dd {
    margin-left: 10em;
}

input {
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    height: 2em;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

select {
    margin: 0 0.5em;
    text-align: center;
}

#sticky-select {
    position: sticky;
    z-index: 999;
    top: 0;
    align-items: center;
    text-align: center;
    padding: 0.8em;
    backdrop-filter: blur(5px);
}

/**
 * Analyzer
 */

#imprecise-data {
    margin: 0.25em auto -0.75em;
    text-align: center;
    text-wrap: balance;
}

#analyzer {
    padding-bottom: 2em;
}

h2 {
    border-bottom: 1px dotted currentcolor;
}

h2 + small {
    display: block;
    text-align: right;
    margin-top: -1em;
}

stats-canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    margin: auto;
}

/**
 * Dark/Light Themes
 */

input, select { color-scheme: light dark; }
@media (prefers-color-scheme: dark) {
    html { background-color: #222; color: #ddd; }
    a { color: #99f; }
}
